<h1>user#edit</h1>
<%=form_for(@user) do|user| %><table>
<tr><td><%=user.label :name %></td>
<td><%=user.text_field :name %></td>
</tr><tr>
<td><%=user.label :email %></td>
<td><%=user.text_field :email %></td>
</tr></table>
<%=user.submit "update" %>
<%end%>
<br>
<%= link_to 'back',users_path %>
