<h1>users#index</h1>

<table border=5>
<% @users.each do|user| %>
<tr><td><%= user.name %></td><td>  <%= link_to 'show details', user_path(user)%>
 </td><td>  <%= link_to 'edit user', edit_user_path(user)%></td><td>
   <%= link_to 'delete user', user_path(user),:method => :delete %></td><td>
<%= link_to 'create post', new_user_post_path(user) %></td></tr>
<%end%>
 </table>
<%= link_to 'add new user', new_user_path %>

