<h1>users#index</h1>
<ul>
<% @users.each do|user| %>
<li><%= user.name %>  <%= link_to 'show details', user_path(user)%>
   <%= link_to 'edit user', edit_user_path(user)%>
   <%= link_to 'delete user', user_path(user),:method => :delete %>
<%end%>
 </li>
</ul>
<%= link_to 'add new user', new_user_path %>

