<% provide(:title, 'new') %><h1>New User</h1>
<%=form_for (@user) do|user| %>
<%=user.label :name,"Name" %>
<%=user.text_field :name %>
<br>
<%=user.label :email,"Email" %>
<%=user.text_field :email %>
<br>
<%=user.label :password,"Password" %>
<%=user.password_field :password %>
<br>
 <%= user.label :password_confirmation, "Confirmation" %>
      <%= user.password_field :password_confirmation %>
<br>
<%=user.submit "Create my account" %>
<%end%><br>
<br><br>
<%= link_to 'Back', users_path %>
