<% provide(:title, 'new') %><h1>New User</h1>
<%=form_for (@user) do|user| %>
<%=user.label :name,"Name" %>
<%=user.text_field :name %>
<br>
<%=user.label :email,"Email" %>
<%=user.text_field :email %>
<br>
<br>
<%=user.submit "Create User" %>
<%end%><br>
<br><br>
<%= link_to 'Back', users_path %>
