<h1>post#new</h1>

<%=form_for @post, :url => user_posts_path(@user.id),
 :html => {:method => "post"}  do|post| %>
<%=post.label :title,"title" %>
<%=post.text_field :title %>
<br>
<%=post.label :description,"description" %>
<%=post.text_field :description %>
<br>
<%=post.submit "add post" %>
<%end%>
<%= link_to 'back' ,users_path %>


